.title
{
    font-size: 3.5em;
    color: white;
}
#top
{
    display: inline-block;
}
#background
{
    height: 200px;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-position-y: -200px;
}
.nav-link
{
    color: white;
}
.social_btn
{
    position: relative;
    bottom: 0;
    color: white;    
}
.social_btn_dark
{
    color: black;
}
.return_button
{
    color: #343a40;
    margin-bottom: 25px;
}
@media (max-device-aspect-ratio: 5/8){
    header
    {
	position: sticky;
	top: 0;
	z-index: 1020;
    }
    h1,h2,h3,h4
    {
	font-size: 200%;
    }
    .navbar-toggler
    {
	font-size: 130%;
    }
    .title
    {
	font-size: 200%;
    }
    .container
    {
	padding-left: 5;
	padding-right: 5;
	margin-right: 0;
	margin-left: 0;
	max-width: 100%;
	font-size: 250%;
    }
    .container-fluid
    {
	padding-left: 5;
	padding-right: 5;
	margin-right: 0;
	margin-left: 0;
    }
    .return_button
    {
	display: none;
    }
}
