a:hover
{
    text-decoration: none;
}
.title
{
    font-size: 3.5em;
    color: white;
    text-decoration: none;
}
.photo
{
    float: left;
    max-width: 15%;
}
.title:hover
{
    text-decoration: none;
    color: white;
}
#top
{
    display: inline-block;
}
#background
{
    height: 200px;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-position-y: -200px;
}
.nav-link
{
    color: white;
}
.social_btn
{
    position: relative;
    bottom: 0;
}
.social_btn_dark
{
    color: black;
}
.return_button
{
    display: none;
    font-size: 3em;
    opacity: 0.5;
    position: relative;
    margin-bottom: 25px;
    left: 10px;
    color: #343a40;
}
/* fa icons colors */
.fa:hover
{
    color: black;
}
.fa-facebook
{
    color: #3b5998;
}
.fa-snapchat
{
    color: #fffc00;
}
.fa-instagram
{
    color: #e1306c;
}
.fa-github
{
    color: white;
}
/* mobile css */
@media (max-device-aspect-ratio: 5/8){
    :target
    {
	display: block;
	position: relative;
	top: -136px;
	visibility: hidden;
    }
    header
    {
	position: sticky;
	top: 0;
	z-index: 1020;
    }
    h1,h2,h3,h4
    {
	font-size: 200%;
    }
    .photo
    {
	max-width: 35%;
    }
    .navbar-toggler
    {
	font-size: 130%;
    }
    .title
    {
	font-size: 200%;
    }
    .container
    {
	padding-left: 5;
	padding-right: 5;
	margin-right: 0;
	margin-left: 0;
	max-width: 100%;
	font-size: 250%;
    }
    .container-fluid
    {
	padding-left: 5;
	padding-right: 5;
	margin-right: 0;
	margin-left: 0;
    }
    .return_button
    {
	display: none;
    }
}
